

#Java class files
*.class


# Package Files #
*.jar
*.war
*.ear

*.dll
*.dll.manifest
*.so

bin/
tmp/

.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

gradle.properties

.nb-gradle/

.idea/
out/
build/

*.iml

/**/out/
/**/build/

/**/src/test/resources/fmus

/**/cmake-build-debug
/**/cmake-build-release

__pycache__
.vscode
*.egg-info
.pytest_cache

/**/pythonfmu/resources
