name: CI

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2019]
        python-version: [3.7, 3.8, 3.9]
    timeout-minutes: 15
    
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Build distribution artifacts
        run: |
          python -m pip install setuptools wheel
          python setup.py sdist bdist_wheel
      - name: Archive production artifacts
        uses: actions/upload-artifact@v1
        with:
          name: python-wheel
          path: dist

  test:
    needs: build-python
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, windows-2019]
        python-version: [3.7, 3.8, 3.9]
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Download python package
        uses: actions/download-artifact@v1
        with:
          name: python-wheel

      - name: Run the Tests
        run: |
          pip install -r requirements.txt
          cd python-wheel
          pip install pythonfmu*.whl
          pytest --pyargs pythonfmu
          cd ..
        shell: bash -l {0}
